:root {
  /* colors */
  --primary-clr: #ff6600;
  --primary-hover-clr: #c25003;
  --black-clr: #1c1c1c;
  --lighter-gray-clr:#F6F7F8;
  --light-gary-clr: #e6ecf0;
  --water-gary-clr: #f5f8fa;
  --cement-gary-clr: #657786;
}

* {
  font-size: 16px;
  font-family: 'Noto Sans TC';
}
